.Number {
	margin: 5px;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	background-color: aliceblue;
	border-width: 0;
	outline: none;
	transition: 100ms;
}
.Number:hover {
	background-color: white;
	border: solid 1px rgb(238, 231, 130);
}
.Number:active {
	background-color: white;
	transform: scale(.9, .9);
}
.Operator {
	margin: 5px;
	border-radius: 50%;
	border-width: 0;
	width: 60px;
	height: 60px;
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(136, 158, 224);
	box-shadow: 2px 2px 5px white;
	outline: none;
	transition: 100ms;
}
.Operator:nth-child(2n) {
	background-color: yellowgreen;
}
.Operator:nth-child(10) {
	background-color: lightcoral;
	width: 75px;
	height: 75px;
}
.Operator:nth-child(5) {
	background-color: rgb(255, 238, 0);
	width: 80px;
	height: 80px;
}
.Operator:hover {
	background-color: white;
	border: solid 1px rgb(238, 231, 130);
}
.Operator:active {
	background-color: white;
	transform: scale(.9, .9);
}
