.Keyboard{
    display: flex;
    margin: auto;
    box-sizing: border-box;
    width: 350px;
    left:0;
    height: 400px;
}
.Numbers{
    margin-top: 16px;
    width: 300px;
    left:0;
    height: 400px;
}
.Opertions{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    right: 0;
    height: 400px;
}
