.Calculator {
    margin: auto;
    margin-top: 10%;
    width: 370px;
    height: 500px;
    background-color: rgb(179, 208, 245);
    box-shadow: 1px 1px 10px black;
    padding: 15px;
}

.Input {
    background-color: aliceblue;
    width: 96%;
    height: 10vh;
    box-shadow: inset 2px 2px 2px lightblue;
    border: solid 1px black;
    font-size: x-large;
    padding: 2%;
    text-align: right;
    letter-spacing: 3px;
}

.Op {
    margin: 3px;
    background-color: aliceblue;
    width: 10%;
    height: 2vh;
    box-shadow: inset 2px 2px 2px lightblue;
    border: solid 1px black;
    font-size: x-large;
    padding: 1%;
    text-align: right;
    letter-spacing: 3px;
}
.Arg1 {
    margin: 3px;
    background-color: aliceblue;
    width: 81%;
    height: 2vh;
    box-shadow: inset 2px 2px 2px lightblue;
    border: solid 1px black;
    font-size: x-large;
    padding: 1%;
    text-align: right;
    letter-spacing: 3px;
}