.Calculator {
	margin: auto;
	margin-top: 16px;
	width: 370px;
	height: 500px;
	background-color: aliceblue;
	box-shadow: 1px 1px 5px lightskyblue, inset 1px 1px 5px whitesmoke;
	padding: 15px;
}

.Input {
	background-color: aliceblue;
	background-color: white;
	border: solid 1px lightsteelblue;
	box-shadow: inset 1px 1px 5px lightblue;
	font-size: x-large;
	font-weight: lighter;
	padding-right: 7px;
	text-align: right;
	letter-spacing: 3px;
	border-radius: 50px;
	outline: none;
}

.ActiveArg {
	width: 96%;
	height: 50px;
}
.Op {
	margin: 3px;
	width: 23px;
	height: 25px;
	text-align: right;
	letter-spacing: 3px;
	font-size: medium;
}
.Arg1 {
	margin: 5px;
	margin-left: 15px;
	width: 76%;
	height: 25px;
	text-align: right;
	letter-spacing: 3px;
	font-size: medium;
}
